ul {
  list-style-type: none;
  padding-left: 0;
  color: var(--color-light);
  background-color: rgba(white, 0.2);
  margin: 0;
  height: 100%;
  div {
    display: flex;
  }
}

x-icon {
  margin-right: 18px;
}

.menu-item {
  padding: 6px 0;
  padding-left: 26px;
  padding-right: 12px;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    cursor: pointer;
  }
}
